<div class="container-fluid text-white sfondo mt-4">
  <div class="row">
    <div class="col-md-4 text-center pt-4">
      <h5>Sede</h5>


      <p>Via Appia 1<br>
         00100 Roma (RM)<br>
         Orari: Lunedi-Venerdi 9:00 - 17:00</p>



    </div>
    <div class="col-md-4 pt-3 text-center">
      <h5>I nostri social</h5>
      <div class="my-3">
        <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook text-white mx-1"></i></a>
        <a href="https://it.linkedin.com/"target="_blank"><i class="bi bi-linkedin text-white mx-1"></i></a>
        <a href="https://twitter.com/"target="_blank"><i class="bi bi-twitter text-white mx-1"></i></a><br>
        <p class="my-4">&copy;2022 Il Tuo Gestionale</p>
      </div>

    </div>
    <div class="col-md-4 pt-3 text-center">
      <h5>Contatti</h5>

      <p> info@ilGestionale.com<br>
          +39 06124599<br>
          P.Iva 900367</p>
    </div>
  </div>



</div>