<form class="row g-3 needs-validation " novalidate>
  <div clas="col-md-12">
    <p></p><br>
    <p></p>
  </div>
  <div class="col-md-12"></div>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Numero</label>
    <input type="text" class="form-control" [(ngModel)]="fattura.numero" name="numero" required>

  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Data</label>
    <input type="datetime-local" class="form-control" name="data" [(ngModel)]="fattura.data" required>

  </div>
  <div class="col-md-4">
    <label for="validationCustomUsername" class="form-label">Anno</label>


    <input type="number" class="form-control" name="anno" [(ngModel)]="fattura.anno" required>

  </div>
  <div class="col-md-4">
    <label for="validationCustom03" class="form-label">Importo</label>
    <input type="number" class="form-control" name="importo" [(ngModel)]="fattura.importo" required>

  </div>

  <div class="col-md-4">

    <p for="validationCustom03" class="form-label">Stato</p>
    <select class="form-select  form-select-lg  " [(ngModel)]="fattura.stato" name="fattura">
      <option [ngValue]="item" *ngFor="let item of arrayFatture">{{item.nome}}</option>
    </select>
  </div>

  <div class="col-md-4">
  </div>



  <div class="col-12 my-4">
    <button class="btn sfondo w-100 text-white text-uppercase" (click)="update()">Salva modifiche</button>
  </div>
  
  <div class="col-md-12">
    <p></p><br>
    <p></p>
  </div>
</form>

