<div class="row">
  <div class="card text-white sfondo my-4 mx-3 w-25" *ngFor="let item of arrayFatture">

    <div class="card-body border-top">
      <p class="card-title"><strong>Numero:</strong> {{item.numero}} </p>
      <p class="card-title"><strong>Data:</strong> {{item.data}} </p>
      <p class="card-text"><strong>Anno :</strong> {{item.anno}}</p>
      <p class="card-text"><strong>Importo :</strong> {{item.importo}}</p>
      <p class="card-text"><strong>Stato :</strong> {{item.stato.nome}}</p>


     


    </div>
  </div>
</div>